.login-container {
  min-width: 320px;
  max-width: 400px;
  height: auto;
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
  margin: auto;
  color: #555;
}

.login-flat-button {
  color: #757575;
}

.login-title {
  color: #757575;
}